<div class="graph-controllpanel" style="padding-left: 0px;">
    <h1 style="color: #f4f7f5;">Temperature Readings</h1><input class="form-control-lg order-6" type="date" style="background-color: #08090a;color: #f4f7f5;border-color: #08090a;text-align: right;padding-right: 0px;" value="2020-08-28">
    <DropdownFilterComponent />
</div>

@code {

}
