@namespace TemperatureModule.Webpage.Components.Slides.TableView

@using TemperatureModule.Webpage.Models;

<link rel="stylesheet" href="css/myown/TableView.css">

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tidpunkt</th>
                <th>Temperatur (°C)</th>
            </tr>
        </thead>
        <tbody>
            @if (unitData != null)
            {
                @for (int i = unitData.Count() - 1; 0 < i; i--)
                {
                    <tr>
                        <td>@unitData[i].DataDateTime.ToShortTimeString()</td>
                        <td>@unitData[i].DataPTValue</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    [CascadingParameter]
    public UnitData[] unitData { get; set; }

}
