@using TempraturModul.Models
@using TemperatureModule.Webpage.Models
@using Radzen

<link rel="stylesheet" href="css/myown/Test.css">

<div style="        
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: baseline;
    ">

    <p class="order-1" style="margin-top:0px">@_HighLow @_medium temperature: </p>
    
    <RadzenProgressBar Value="@(value * 2)" ShowValue="false" Class="order-2"/>
   
    <p class="order-3">
        <strong style="color:@_color">@data.DataPTValue °C</strong>&nbsp; at @data.DataDateTime.ToString("HH:mm")
    </p>
</div>

@code {
    [Parameter]
    public UnitData data { get; set; }

    [Parameter]
    public bool IsHighest { get; set; }

    [Parameter]
    public PTIndex PTIndex { get; set; }

    private double value { get {
            System.Diagnostics.Debug.WriteLine(data.DataPTValue);
            return Math.Round(data.DataPTValue,0); } }

    private string _medium { get { return PTIndex == PTIndex.Water ? "water" : "air"; } }

    private string _HighLow { get { return IsHighest ? "Highest" : "Lowest"; } }

    private string _color { get { return IsHighest ? "darkred" : "cornflowerblue"; } }



}
