@using TemperatureModuleDatasource;
@using System.Linq;

@page "/temperatures"
<h3>DisplayUnits</h3>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var temperatureReading in temperatureReadings)
        {
            @foreach (var temp in temperatureReading.UnitDataPT)
            {
                <tr>
                    <td>@temp.DataPTValue</td>
                    <td>@temp.DataDateTime.ToShortDateString()</td>
                </tr>

            }
        }
    </tbody>
</table>
@code {
    List<TempraturModul.Models.TempratureDTO> temperatureReadings = new List<TempraturModul.Models.TempratureDTO>();

    protected override async Task OnInitializedAsync()
    {
        var data = new Datasource();
        temperatureReadings = (await data.GetDay(DateTime.Now)).ToList();
    }

    public class TemperatureReading
    {
        public float temperature { get; set; }
        public DateTime dateTime { get; set; }
    }
}
