@page "/"
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.Common.Enums
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes.Ticks
@using ChartJs.Blazor.ChartJS.Common.Handlers
@using ChartJs.Blazor.Util
@using Newtonsoft.Json.Linq;
@using System.Linq
@using TemperatureModuleDatasource

@using TemperatureModule.Webpage.Components 
@inject IJSRuntime JsRuntime

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>startpage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body style="color: #f4f7f5;background-color: #08090a;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="height: 38px;background-color: #222823;">
        <div class="container">
            <a class="navbar-brand" href="#" style="vertical-align: middle;padding-top: 0px;padding-bottom: 0px;margin-top: -6px;">Wideco</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="padding-bottom: 0px;padding-top: 0px;border-width: 0px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="border-style: none;border-color: rgba(136,136,136,0);margin-top: -17px;"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation" style="color: #f4f7f5;"><a class="nav-link active" href="#">First Item</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <GraphControllPanelComponent></GraphControllPanelComponent>
       
        <div class="carousel slide" data-ride="carousel" data-interval="false" id="carouselExampleIndicators" style="min-height: 75px;">
            <div class="carousel-inner" role="listbox" style="min-height: 100%;height: 100%;background-color: #1f2833;border-radius: 5px;">
                <div class="carousel-item active">
                    <div class="d-block align-self-center center-block graph" style="color: rgb(255,255,255);background-color: #1f2833;min-height: 250px;height: 349px;">
                        <GraphComponent/>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="table-responsive" style="background-color: #1f2833;color: #c5c6c7;min-height: 250px;max-height: 650px;">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="border-style: none;border-color: rgba(197,198,199,0);">Tidpunkt</th>
                                    <th style="border-color: rgba(197,198,199,0);">Temperatur (°C)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>09:50</td>
                                    <td>32</td>
                                </tr>
                                <tr>
                                    <td>09:40</td>
                                    <td>28</td>
                                </tr>
                                <tr>
                                    <td>09:30</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>09:20</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>09:10</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>09:00</td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination" style="height: 41px;">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-xl-flex justify-content-xl-start align-items-xl-center" style="padding-top: 12px;padding-left: 20px;padding-bottom: 12px;font-size: 30px;border: 1px solid rgba(0,0,0,.125);">
                        <strong class="text-left d-flex d-xl-flex align-items-center align-items-xl-center">Latest Temperature:</strong>
                        <p class="text-center d-flex d-xl-flex align-items-center justify-content-xl-center" style="margin-left: 7px;margin-bottom: 0px;"><br><strong>32 °C</strong>&nbsp;</p>
                    </div>
                    <div style="margin-top: 15px;">
                        <div class="d-flex d-xl-flex justify-content-start align-items-center justify-content-xl-start align-items-xl-center" style="padding-top: 12px;padding-bottom: 12px;padding-left: 20px;">
                            <strong class="text-left d-xl-flex align-items-xl-center">Average temperature today:</strong>
                            <p class="text-center d-flex d-xl-flex align-items-center justify-content-xl-center" style="margin-left: 7px;margin-bottom: 0px;"><br><strong>34 °C</strong>&nbsp;</p>
                        </div>
                        <div class="d-flex d-xl-flex justify-content-start align-items-center justify-content-xl-start align-items-xl-center" style="padding-top: 12px;padding-bottom: 12px;padding-left: 20px;">
                            <strong class="text-left d-xl-flex align-items-xl-center">Highest temperature today:</strong>
                            <p class="text-center d-flex d-xl-flex align-items-center justify-content-xl-center" style="margin-left: 7px;margin-bottom: 0px;color: rgb(234,14,0);"><br><strong>36 °C</strong>&nbsp;</p>
                        </div>
                        <div class="d-xl-flex justify-content-xl-start align-items-xl-center" style="padding-top: 12px;padding-bottom: 12px;padding-left: 20px;">
                            <strong class="text-left d-xl-flex align-items-xl-center">Lowest temperature today:</strong>
                            <p class="text-center d-flex d-xl-flex align-items-center justify-content-xl-center" style="margin-left: 7px;margin-bottom: 0px;color: rgba(0,133,255,0.84);"><br><strong>28 °C</strong>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a id="carouselExampleIndicators-prev" class="carousel-control-prev" role="button" data-slide="prev" style="min-width: 15px;"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a>
                <a id="carouselExampleIndicators-next" class="carousel-control-next" role="button" data-slide="next" style="min-width: 15px;"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
    <div class="unitList">
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer 1</span></li>
            <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer&nbsp;2</span></li>
            <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer 3<br></span></li>
            <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 4&nbsp;</span></li>
            <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 5</span></li>
            <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 6</span></li>
            <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 7</span></li>
        </ul>
        <div class="pagination">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>


</body>
@functions
{
    

    protected override async Task OnInitializedAsync()
    {
        
    }


    bool firstRender = true;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeAsync<object>("initializeCarousel");
            firstRender = false;
        }
    }
}
