@page "/"
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.Common.Enums
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes.Ticks
@using ChartJs.Blazor.ChartJS.Common.Handlers
@using ChartJs.Blazor.Util
@using Newtonsoft.Json.Linq;
@using System.Linq
@using TemperatureModuleDatasource

@using TemperatureModule.Webpage.Components 

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>startpage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body style="color: #f4f7f5;background-color: #08090a;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="height: 38px;background-color: #222823;">
        <div class="container">
            <a class="navbar-brand" href="#" style="vertical-align: middle;padding-top: 0px;padding-bottom: 0px;margin-top: -6px;">Wideco</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="padding-bottom: 0px;padding-top: 0px;border-width: 0px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="border-style: none;border-color: rgba(136,136,136,0);margin-top: -17px;"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation" style="color: #f4f7f5;"><a class="nav-link active" href="#">First Item</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <GraphControllPanelComponent></GraphControllPanelComponent>
       <CarouselComponent></CarouselComponent>
        
    </div>
    <div class="unitList">
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer 1</span></li>
            <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer&nbsp;2</span></li>
            <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer 3<br></span></li>
            <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 4&nbsp;</span></li>
            <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 5</span></li>
            <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 6</span></li>
            <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 7</span></li>
        </ul>
        <div class="pagination">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>


</body>
@functions
{
    

    protected override async Task OnInitializedAsync()
    {
        
    }


    
}
