<div class="unitList">
    <ul class="list-group">
        <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer 1</span></li>
        <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer 2</span></li>
        <li class="list-group-item" style="background-color: #1f2833;color: #c5c6c7;"><span>Enhetsnummer 3</span></li>
        <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 4</span></li>
        <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 5</span></li>
        <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 6</span></li>
        <li class="list-group-item" style="color: #c5c6c7;background-color: #1f2833;"><span>Enhetsnummer 7</span></li>
    </ul>
    <div class="pagination">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</div>
@code {

}
